.myalbum-search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  input {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.37);
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 20px;
    min-width: 300px;
  }

  input:focus {
    border: 1px solid rgba(0, 0, 0, 0.719);
  }
}
